/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about {
  background-color: #0a2750;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}

.about__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0 80px;
  z-index: 1;
  max-width: 251px;



}

.about__content {
  margin: 119px 80px 173px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
  max-width: 660px;
  z-index: 1;
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;


}

.about__paragraph {
  margin: 0;
  line-height: 30px;

}

.about__circle {
  display: flex;
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
  z-index: 0;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;

  }

  50% {
    opacity: .6;

  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

  }


}

@keyframes pulse {
  0% {
    opacity: 0;

  }

  50% {
    opacity: .6;

  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

  }


}

.about__circle_animation_blurred {
  -webkit-animation: pulse 1.3s ease-in-out 0s infinite;
  animation: pulse 1.3s ease-in-out 0s infinite;

}