/**
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.header {
    background-color: #FFFFFF;
    background-image: url(../images/background_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.header__title {
    display: block;
    margin: 0 0 0 80px;
    padding-top: 80px;
    max-width: 729px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.header__span-accent {
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    color: #2F80ED;
    font-style: italic;
    font-weight: normal;
    display: block;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header__description {
    display: block;
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 0 80px;
    max-width: 683px;
    padding-top: 28px;
}



.header__paragraph{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f;
    margin: 0;
    padding: 0;

}

.header__paragraph-hours {
    position: absolute;
    left: 80px;
    bottom: 40px;
}

.header__paragraph-street {
    position: absolute;
    right: 80px;
    bottom: 40px;
   

}

.header__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header__list-item {
    margin: 0;
    padding: 0;
}